/* Template Code Start */

.footer {
    position: fixed;
    bottom: 5px;
    left: 5px;
    font-weight: bold;
    color: white;
    z-index: 100;
}

.footer>a {
    text-decoration: none;
    color: orange;
}

.footer>img {
    top: 0.25rem;
    position: relative;
}

* {
    font-family: 'Exo 2', sans-serif;
}

/* Template Code End */

* {
    margin: 0;
    user-select: none;
}

.overlay {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background: black;
}

.bg {
    background: rgb(255, 255, 157);
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.cursor {
    left: 0;
    top: 0;
    width: 5000px;
    height: 5000px;
    background: radial-gradient(transparent 20px, black 40px);
    top: -2500px;
    left: -2500px;
    position: absolute;
    border-radius: 50%;
    /* background-color: blue;
    height: 10px;
    width: 10px; */
}

/* .cursorface {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #f2ff0038;
    top: -50px;
    left: -50px;
} */

/* .trail {
    transform: scale(0.1);
}

.trail1 {
    transition: transform .4s;
}

.trail2 {
    transition: transform .3s;
}

.trail3 {
    transition: transform .2s;
} */

#fullscreenclose, #fullscreenopen {
    display: none;
}

#fullscreenopen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    margin: auto;
    max-width: 80vw;
    height: fit-content;
    width: fit-content;
    background: linear-gradient(-45deg, orange, orangered);
    padding: 1rem;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    text-align: center;
    color: black;
}

#torchpower {}

#fullscreenopen>button {
    margin-top: 1rem;
    background: tomato;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: bold;
    box-shadow: 0 0 2px 0px black;
    cursor: pointer;
}

#fullscreenclose {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    margin: auto;
    height: fit-content;
    width: fit-content;
}

#fullscreenclose>button {
    background: tomato;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    box-shadow: 0 0 2px 0px black;
    cursor: pointer;
}

@media all and (display-mode: fullscreen) {
    /* every CSS goes here that you want 
    to apply or alter in the fullscreen mode*/
    body {
        background: red;
    }
    #fullscreenclose {
        display: block;
    }
}

@media all and (display-mode: browser) {
    /* every CSS goes here that you want 
    to apply or alter in the fullscreen mode*/
    body {
        background: yellow;
    }
    #fullscreenopen {
        display: block;
    }
}