/* Template Code Start */

@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
.footer {
    position: fixed;
    bottom: 5px;
    left: 5px;
    font-weight: bold;
    color: white;
}

.footer>a {
    text-decoration: none;
    color: orange;
}

.footer>img {
    top: 0.25rem;
    position: relative;
}

* {
    font-family: "Exo 2", sans-serif;
    /* CSS Code to handle unwanted element highlights / div selection in Android */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Template Code End */

body {
    background: linear-gradient(45deg, black, rgb(31, 31, 31));
    margin: 0;
    min-height: 100vh;
}

.container {
    display: grid;
    place-content: center;
    justify-items: center;
    /* min-height: 100vh; */
}

.output {
    background: #121212;
    padding: 1rem 2rem 1rem 1rem;
    border-radius: 5px;
    margin: 2rem;
    max-width: 400px;
    position: relative;
}

.blue {
    color: lightseagreen;
}

.cyan {
    color: cyan;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.logo {
    color: rgb(184, 184, 184);
    padding: 1rem;
}

.logo * {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

#copy {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0.5rem;
    bottom: 0;
    display: grid;
    place-content: center;
    cursor: pointer;
    color: grey;
}

.output:hover>#copy {
    color: white;
}

#copy:hover {
    color: cyan !important;
}

#copy:active {
    color: darkcyan !important;
}

.copied {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: rgba(130, 130, 130, 0.5);
    border-radius: 5px;
    padding: 1rem;
    backdrop-filter: blur(5px);
    animation: popup 4s;
    transform: translateY(100px);
    display: none;
    font-weight: initial;
    color: white;
    display: none;
}

@keyframes popup {
    0% {
        transform: translateY(100px);
    }
    20% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(100px);
    }
}

.sizeinput {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sizeinput div {
    background: #333333;
    padding-left: 0.5rem;
    border-radius: 5px;
}

#width, #height {
    width: 100px;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    margin-left: 0.25rem;
    background: grey;
    color: whitesmoke;
}

.height {
    margin-left: 1rem;
}

.label {
    color: orange;
    font-weight: bolder;
}

/* Updated Code Below */

#result {
    width: 250px;
    height: 200px;
    background: #272727;
    border-color: orange;
    border-width: 10px;
}

.bordertype {
    padding: 1rem;
    text-align: center;
}

.bordertype>button {
    border-color: orange;
    border-width: thick;
    cursor: pointer;
    width: 40px;
    height: 20px;
    background: none;
}

.bordertype>button:active {
    background: grey;
}

.border-dotted {
    border-style: dotted;
}

.border-dashed {
    border-style: dashed;
}

.border-solid {
    border-style: solid;
}

.border-double {
    border-style: double;
}

.border-groove {
    border-style: groove;
}

.border-ridge {
    border-style: ridge;
}

.border-inset {
    border-style: inset;
}

.border-outset {
    border-style: outset;
}

/* to display active border style */

.active-border {
    /* background: orangered !important; */
    animation: animate-bg 1s infinite;
}

@keyframes animate-bg {
    from {
        background: orangered;
    }
    to {
        background: gold !important;
    }
}

/* border setting center */

.border-width, .border-radius {
    text-align: center;
    color: orange;
}

#border-width, #border-radius {
    width: 80%;
}

/* Colors options css */

.colors-options {
    text-align: center;
}

input[type="color"] {
    height: 4rem;
    width: 4rem;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    position: relative;
    outline: none;
}

input[type="color"]::after {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    height: fit-content;
    color: orange;
    text-align: center;
    width: 75%;
    background: #333333;
    border-radius: 0 0 5px 5px;
    z-index: -1;
    padding: 2px;
    /* Below code is for left/right tags */
    /* top: 0;
    bottom: 0; */
}

input[type="color"]:nth-child(1):after {
    content: 'BG';
    transform: translate(0, -30%);
    /* Below code is for left/right tags */
    /* transform: translate(-70%) rotate(90deg); */
}

input[type="color"]:nth-child(2):after {
    content: 'Border';
    transform: translate(0, -30%);
    /* Below code is for left/right tags */
    /* transform: translate(70%) rotate(-90deg); */
}