/* Template Code Start */

.footer {
    position: fixed;
    bottom: 5px;
    left: 5px;
    color: whitesmoke;
    z-index: 2;
}

.footer>a {
    text-decoration: none;
    color: orange;
}

.footer>img {
    top: 0.25rem;
    position: relative;
}

* {
    font-family: "Exo 2", sans-serif;
}

/* Template Code End */

body {
    background-color: rgb(28, 28, 28);
    margin: 0;
}

.nav {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    background-color: #1da1f2;
    margin: 0;
    padding: 1rem;
}

.nav>h1 {
    margin: 0;
    color: white;
    text-align: center;
}

.help {
    color: white;
    text-align: justify;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.help>p {
    max-width: 490px !important;
}

.holder {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}

.postholder {
    background-color: black;
    padding: 16px;
    border: 1px solid grey;
}

.postbody {
    display: flex;
    align-items: stretch;
    /* width: 560px !important; */
}

.leftbody {
    margin-right: 12px;
}

.profileicon {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    /* background-image: url(../img/favicon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.profileicon>img {
    max-width: 100%;
}

.rightbody {
    font-size: 15px;
    max-width: 500px;
}

.handledetails {
    display: flex;
}

.handlename {
    color: rgb(217, 217, 217);
}

.handleverifiedicon {
    color: rgb(217, 217, 217);
    padding: 0 2px;
}

.handleid {
    color: rgb(110, 118, 125);
    margin-left: 4px;
}

.handledot {
    color: rgb(110, 118, 125);
    padding: 0 2px;
}

.handletime {
    color: rgb(110, 118, 125);
}

.handleoptions {
    color: rgb(110, 118, 125);
    margin-left: auto;
}

.tweet {
    padding-top: 5px;
    color: rgb(217, 217, 217);
}

.tweetimages {
    margin-top: 12px;
    border-radius: 16px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    /* width: 490px !important; */
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.tweetimages>img {
    max-width: 100%;
}

@media only screen and (min-width: 600px) {
    .tweetimages {
        width: 490px !important;
    }
}

.tweetattr {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 12px;
    color: rgb(110, 118, 125);
}

.imageuploader {
    display: none;
}

.downloadoption, .themeselector {
    padding-top: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.downloadoption {
    margin-bottom: 3rem;
}

#download {
    width: 300px;
    background-color: #1da1f2;
    border: none;
    height: 50px;
    border-radius: 500px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

#dim, #light, #dark {
    width: 80px;
    background-color: #1da1f2;
    border: 0 solid #1da1f2;
    border-radius: 500px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 0.2em;
    margin: 0.2em;
    transition: all 0.2s;
}

#dim:hover, #light:hover, #dark:hover {
    border: 2px solid #1da1f2 !important;
}

.comments {
    color: #1da1f2;
}

.retweets {
    color: #17bf63;
}

.likes {
    color: #e0245e;
}

.share {
    color: #1da1f2;
}

.comments>span, .retweets>span, .likes>span, .share>span {
    padding: 12px;
}

#dim {
    background-color: #15202b;
    color: rgb(217, 217, 217);
}

#light {
    background-color: #ffffff;
    color: black;
}

#dark {
    background-color: black;
    color: rgb(217, 217, 217);
}

.active {
    border: 2px solid #1da1f2 !important;
}

#download:hover {
    background-color: cornflowerblue;
}

.tags {
    color: rgb(27, 149, 224);
}

::-webkit-scrollbar {
    display: none;
    /*Removed Default Scroll Bar*/
    width: 0;
}

.disclaimer {
    position: fixed;
    width: 100%;
    height: fit-content;
    top: 0;
    text-align: center;
    height: 100vh;
    backdrop-filter: blur(50px);
}

.warning {
    background-color: orange;
    padding: 1rem;
}

.warning>h1 {
    margin: 0;
}

#agree {
    width: 200px;
    background-color: black;
    border: 0 solid #1da1f2;
    border-radius: 500px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 1em;
    margin: 1em;
}