/* Template Code Start */

.footer {
    position: fixed;
    bottom: 5px;
    left: 5px;
    font-weight: bold;
    color: white;
}

.footer>a {
    text-decoration: none;
    color: orange;
}

.footer>img {
    top: 0.25rem;
    position: relative;
}

* {
    font-family: "Exo 2", sans-serif;
    /* CSS Code to handle unwanted element highlights / div selection in Android */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Template Code End */

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    margin: 0;
    background: #191919;
}

canvas {
    width: 100%;
    height: 100%;
    outline: none;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

.spline-watermark {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    z-index: 2;
}

.spline-watermark:hover {
    opacity: 0.8;
}

.spline-watermark img {
    display: block;
    width: 100%;
    height: 100%;
}

/* Spline CSS ends */

body {
    overflow: hidden;
}

#container {
    display: grid;
    place-content: center;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

/* #fixed {
    position: fixed;
    background: #0000;
    height: 100vh;
    width: 100%;
    z-index: 100;
    top: 0;
} */