/* Template Code Start */

.footer {
    position: fixed;
    bottom: 0;
    left: 5px;
    font-weight: bold;
}

.footer>a {
    text-decoration: none;
    color: orange;
}

.footer>img {
    top: 0.25rem;
    position: relative;
}

* {
    font-family: "Open Sans", serif;
    /* font-family: monospace; */
    /* CSS Code to handle unwanted element highlights / div selection in Android */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Template Code End */

body {
    margin: 0;
}

.container {
    --container-width: 300px;
    background-color: #efefef;
    padding: 1rem;
    margin: auto;
    width: var(--container-width);
}

.enclosure {
    box-shadow: 0 1px 2px 0px #2121216b;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin-top: 1rem;
}

.enclosure .card {
    background: white;
    padding: 1rem;
    position: relative;
    transition: transform 1s;
}

.enclosure:hover .card {
    transform: translateX(-50px);
}

.enclosure .card .card-title {
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.enclosure .card .card-content {
    font-weight: lighter;
}

.enclosure .options {
    background: orangered;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.enclosure .options .material-icons {
    padding-right: 10px;
}

.enclosure .options .material-icons:hover {
    color: #fff;
}