@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
/* Template Code Start */

.footer {
    position: fixed;
    bottom: 0;
    left: 5px;
    font-weight: bold;
    color: black;
}

.footer>a {
    text-decoration: none;
    color: orangered;
}

.footer>img {
    top: 0.25rem;
    position: relative;
}

* {
    font-family: "Righteous", serif;
    /* font-family: monospace; */
    /* CSS Code to handle unwanted element highlights / div selection in Android */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Template Code End */

body {
    margin: 0;
}

.container {
    background-color: grey;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff 25%, #fff 75%, rgba(255, 255, 255, 0)), repeating-linear-gradient(-45deg, transparent 0, transparent 2.5em, #cfd8dc 0, #cfd8dc calc(2.5em + 1px)), repeating-linear-gradient(45deg, transparent 0, transparent 2.5em, #cfd8dc 0, #cfd8dc calc(2.5em + 1px));
    height: 100vh;
    display: flex;
    place-items: center;
    place-content: center;
    font-size: 2rem;
    overflow: hidden;
}

/* Hide the VR Button */

.a-enter-vr {
    display: none;
}